/* Navigation */

/* Testimonials Section */
#team-gallery {
  padding-top: 90px; /* Lebih tinggi dari navbar supaya aman */
}

#testimonials {
  background: #0066cc; /* Biru solid */
  padding: 80px 0;
  color: #fff;
  padding-top: 90px; /* Lebih tinggi dari navbar supaya aman */
}

.section-title h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

.testimonial {
  text-align: center;
  margin-bottom: 30px;
}

.testimonial-image {
  padding: 4px;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #ffa500;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* opsional biar menonjol */
}

.testimonial img {
  width: 100px; /* Ukuran lebih kecil */
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: none;
  display: block;
  margin: 0 auto;
  background: whitesmoke;
}

.testimonial-meta {
  font-weight: 700;
  color: #ffa500; /* Orange keemasan (atau bisa #FFC107 kalau mau lebih kuning) */
  margin-top: 8px;
}
.testimonial-desc {
  margin: 0px 0 0 0; /* Jarak kecil di atas */
  color: #ffffff; /* Putih */
}

.testimonial p {
  font-size: 14px;
  color: #ffffff; /* Putih */
  margin-top: 4px;
}
